## Week 3 assignment: Segmenting and Clustering Neighborhoods in Toronto
### Part 2: add location info to Toronto postal offices
#### Bostjan Keber
#### 2019/01/29

In [1]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
    100% |████████████████████████████████| 102kB 19.1MB/s
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (2.20.1)
Requirement already satisfied: future in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: six in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (1.11.0)
Requirement already satisfied: click in /home/jupyterlab/conda/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: decorator in /home/jupyterlab/conda/lib/python3.6/site-packages (from ratelim->geocoder) (4.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2018.11.29)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (1.23)
Requirement already satisfied: idna<2.8,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests->geocoder) (2.7)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [17]:
#import libraries
import pandas as pd
import geocoder
import numpy as np

#### Let's load the data from Part 1 into pandas dataframe

In [72]:
df = pd.read_csv('TorontoPBN.csv')
df = df.drop(df.columns[0], axis=1)
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

#### Create a function that returns coordinates for a given postal office code

In [56]:
#function get_coordinates returns coordinates for a given postal code
def get_coordinates(postal_code):
    lat_lng_coords = None

# loop until you get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
      lat_lng_coords = g.latlng
    return lat_lng_coords

In [57]:
#try it out for M1G postal code
get_coordinates('M1G')

[43.76821641200007, -79.21760999999998]

#### Get coordinates for all postal offices

In [104]:
post_pd = df['PostalCode']
post_pd.head()

coords_df = pd.DataFrame(columns=['Latitude','Longitude','PostalCode'])

for postal_code in post_pd:
    coords = get_coordinates(postal_code)
    coords_df = coords_df.append({'Latitude':coords[0], 'Longitude':coords[1], 'PostalCode':postal_code}, ignore_index=True)

In [121]:
coords_df[coords_df['PostalCode']=='M1B']

   Latitude  Longitude PostalCode
0  43.81165 -79.195561        M1B

#### Let's join coordinates with initial dataframe by postal code

In [108]:
coords_df.head()

    Latitude  Longitude PostalCode
0  43.811650 -79.195561        M1B
1  43.785605 -79.158701        M1C
2  43.765690 -79.175299        M1E
3  43.768216 -79.217610        M1G
4  43.769608 -79.239440        M1H

In [112]:
df = pd.merge(df, coords_df, on='PostalCode')

In [119]:
#let's see the result:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.811650,-79.195561
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.785605,-79.158701
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765690,-79.175299
3,M1G,Scarborough,Woburn,43.768216,-79.217610
4,M1H,Scarborough,Cedarbrae,43.769608,-79.239440

In [117]:
#let's save the result to TorontoPBNLoc.csv
df.to_csv('TorontoPBNLoc.csv')

In [122]:
df[df['PostalCode']=='M1B']

  PostalCode      Borough    Neighborhood  Latitude  Longitude
0        M1B  Scarborough  Rouge, Malvern  43.81165 -79.195561